.frameParent {
    width: 579px; 
    max-width: 100%; 
    position: relative;
    border-radius: 14px;
    background: linear-gradient(180deg, #f98c13, #ffaf03);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px;
    box-sizing: border-box;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: var(--font-family-base);
}

.instanceParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.numberAndBadgeParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.numberAndBadge {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.number {
    position: relative;
    line-height: 32px;
    font-weight: 600;
    font-size: 24px;
}

.headingWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--font-family-base);
}

.heading {
    position: relative;
    line-height: 140%;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 768px) {
    .frameParent {
        width: 100%; 
        padding: 16px;
    }
    .instanceParent {
        flex-direction: row;
        gap: 4px;
    }

    .frameParent {
        padding: 16px;
    }
}
