.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

.content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.title {
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 24px;
}

.buttonParent {
    border-radius: 14px;
    background-color: #e8e3d6;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-start;
    padding: 4px;
    margin-bottom: 24px;
}

.button {
    width: 110px;
    border-radius: 14px;
    background-color: #b5ad94;
    height: 38px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    box-sizing: border-box;
    max-width: 600px;
    color: #FFFFFF;
}

.button1 {
    width: 110px;
    border-radius: 14px;
    background-color: transparent;
    height: 38px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    box-sizing: border-box;
    max-width: 600px;
    cursor: pointer;
    color: #9b8d7d;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    
    .content {
        padding: 0 8px;
    }
}