.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px;
  font-family: var(--font-family-base);
}

.content {
  width: 600px;
  /* min-width: 600px;
  max-width: 1200px; */
  margin: 0 auto;
  color: #fff;
}

.title {
  font-family: var(--font-family-base);
  color: #fff;
  text-align: center;
  @apply text-[38px] font-semibold leading-[48px];
}

.section {
  margin-bottom: 32px;
  width: 100%;
}

.leaderboardWrapper {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 24px 0px;
  }

  .content {
    min-width: auto;
    padding: 0;
    width: 100%;
  }

  .title {
    font-size: 36px;
    line-height: 36px;
  }
}
